
html{
  background-image: url(https://user-images.githubusercontent.com/39841876/51811714-e6c89800-2273-11e9-9bb7-5a08c3951c7f.jpg);
}
body{
  background-image: url(https://user-images.githubusercontent.com/39841876/51811714-e6c89800-2273-11e9-9bb7-5a08c3951c7f.jpg);
}
.container
  {
    margin-top: 40px;
    background-image: url(https://user-images.githubusercontent.com/39841876/51811714-e6c89800-2273-11e9-9bb7-5a08c3951c7f.jpg);
    text-align: center;
  }

.titulo{
 margin-top: 60px;
  }

h1{

  text-align: center; 
  font-family: "Latin Modern Roman 10";
  font-style: oblique;
}

div{
  margin-top: 10px;
  text-align: center;
}
